

h2,h3{
    background-color: azure;
    color:brown;
    font-weight: bold;
}
h4{
    text-align:left;
    background-color: azure;
    color:brown;
    font-weight: bold;
}
.Problem1{
    background-color: brown;
    color: Black;
    font-size:20px;
    font-family: verdana;
    font-weight: inherit;
    text-align: center;
    border:70px 60px 70px 60px;
    padding: 40px 30px 40px 30px;
    margin: 40px 20px;
    text-transform:capitalize;
    
    
}
.mobiles{
    background-color: brown;
    position: relative;
    display: inline-block;
    border:120px 70px 120px 60px;
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #555;
    display: block;
    
    width: 15%;
    height: 100%;    /* Full height */
    position: fixed;   /* Make it stick, even on scroll */
    overflow: auto;   /* Enable scrolling if the sidebar has too much content */
    
    
}

.dropdownlist{
    background-color: brown;
    position:relative;
    display: inline-block;
    border:120px 70px 120px 60px;
    font-size:20px;
    font-weight: inherit;
    text-align:center;
    text-transform: capitalize;
}
p{
    
    font-size: 20px;
    border:50px 40px;
    text-transform: capitalize;
}
.dropdownlist-content{
    background-color: tomato;
    min-width: 100px;
    border: 120px 60px 100px 30px;
    margin: 40px;
    padding: 30px 40px;
    display: none;
    position: relative;
    
}
.dropdownlist:hover .dropdownlist-content{
    display: block;
}
li a{
    
    font-size: 15px;
    padding:8px 16px;
    text-decoration: none;
    /*list-style-type: none;*/
    width: 150px;
    color:#000;
   text-align: center;
    border-bottom: 1px solid #555; 
    display: block;   
   
}
li{
    display:inline;
    text-align: center;
    border-bottom: 1px solid #555;
    color:gray;
    background-color: gree
   
    
}
li:last-child{
    border-bottom: none;
}
li a:hover{
    background-color: rgb(80, 80, 80);
    color:white;
}
.active{
    background-color: #04AA6D ;
    color: white;
}
